<%- include('header') %>
<form action="/join" method="post">
  <h1>Do You want to join us?</h1>
  <input type="password" placeholder="Enter Security Code">
  <button>Join</button>
</form>
<%- include('footer') %>