<%- include('header') %>
<form action="/join" method="post">
  <h1>Do You want to join us?</h1>
  <input type="password" placeholder="Enter Security Code">
  <button>Join</button>
</form>
<p>Don't know the code? Get it <a href="/code">Here</a></p>
<small><i><%= locals.error %></i></small>
<%- include('footer') %>