<%- include('header') %>
<form action="/login" method="post">
  <label for="username">Username: <input type="text" name="username" id="username"></label>
  <label for="password">Password: <input type="password" name="password" id="password"></label>
</form>
<p>Don't have an account? <a href="/signup">Sign Up Now</a></p>
<%- include('footer') %>